<div class="contenedor">
  <h1>USANDO PIPES</h1>
</div>
<div class="contenedor">
  <mat-form-field>
    <input matInput [(ngModel)]="texto" type="text" placeholder="Ingrese el texto a transformar">
  </mat-form-field>
  <div>
    <p class="titulo">El texto usando el pipe titlecase es:</p>
    <p class="color">{{texto  | titlecase}}</p>
  </div>
</div>

<div class="contenedor">
  <mat-form-field>
    <input matInput [(ngModel)]="numero" type="number" placeholder="Ingrese un número">
  </mat-form-field>
  <div>
    <p class="titulo">El numero usando el pipe personalizado cuadrado es:</p>
    <p *ngIf="numero" class="color">{{numero | cuadrado}}</p>
  </div>
</div>

<div class="contenedor">
  <mat-form-field>
    <input matInput [(ngModel)]="letrasAlternadas" type="text" placeholder="Ingrese el texto a transformar">
  </mat-form-field>
  <div>
    <p class="titulo">El texto usando el pipe personalizado alternadas es:</p>
    <p class="color">{{letrasAlternadas  | alternadas}}</p>
  </div>
</div>

<div class="contenedor">
  <mat-form-field>
    <input matInput [(ngModel)]="fechas" type= "datetime-local" placeholder="Seleccione una fecha y hora:">
  </mat-form-field>
  <div>
    <p class="titulo">El resultado es:</p>
    <p class="color">{{fechas  | fecha}}</p>
  </div>
</div>